/* SCSS Variables */

/*--------------
  Font
  -------------- */
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600';

$base-font: "Source Sans Pro",
Helvetica,
Arial,
sans-serif;
$code-font: Menlo,
Monaco,
monospace;
$code-gist-font: Menlo,
Monaco,
"Courier New",
monospace !important;


/*--------------
  Color
  -------------- */
$base-color: rgba(#fff, 0.8);
$base-lighten-color: lighten($base-color, 50);

$background-color: #333;
$background-over-color: lighten($base-color, 50);

$text-color: #fff;
$link-color: #268bd2;
$code-color: #bf616a;
$code-background-color: #000;
$table-border-color: #e5e5e5;
$table-background-color: #f9f9f9;